<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewShow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteNewServlet</display-name>
    <servlet-name>DeleteNewServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.DeleteNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewServlet</servlet-name>
    <url-pattern>/DeleteNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindNewAllServlet</display-name>
    <servlet-name>FindNewAllServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.FindNewAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNewAllServlet</servlet-name>
    <url-pattern>/FindNewAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindNewServlet</display-name>
    <servlet-name>FindNewServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.FindNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNewServlet</servlet-name>
    <url-pattern>/FindNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewServlet</display-name>
    <servlet-name>InsertNewServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.InsertNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewServlet</servlet-name>
    <url-pattern>/InsertNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewServlet</display-name>
    <servlet-name>UpdateNewServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.UpdateNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewServlet</servlet-name>
    <url-pattern>/UpdateNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeContacusServlet</display-name>
    <servlet-name>WeContacusServlet</servlet-name>
    <servlet-class>com.itcast.chuli.WeContacusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeContacusServlet</servlet-name>
    <url-pattern>/WeContacusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCaidanServlet</display-name>
    <servlet-name>InsertCaidanServlet</servlet-name>
    <servlet-class>com.itcast.info.servlet.InsertCaidanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCaidanServlet</servlet-name>
    <url-pattern>/InsertCaidanServlet</url-pattern>
  </servlet-mapping>
</web-app>